* {
  padding: 0;
  margin: 0;
}



@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins_semibold;
  src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins_bold;
  src: url(./fonts/Poppins-Bold.ttf);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


